# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# IDE
.idea/

#outputs
*outputs*

# Docs' drafts
/docs/documented_example_notebooks/reduced_wong_wang_exc_io_inh_i_only_tvb.ipynb
/docs/documented_example_notebooks/pics/NESTtoTVB_BG.png
/docs/documented_example_notebooks/pics/Rate_BG.png

# Examples' drafts
/examples/tvb_annarchy/Untitled.ipynb

# Annarchy build files
**/annarchy*
/examples/tvb_annarchy/notebooks/old_annarchy1/

# pyDSTool files
**/auto_temp*

# Izhikevich mean field model files
/examples/notebooks/Izhikevich_MF_model/

# Cerebellum Rising-Net related data files
/examples/data/cerebellum/
/examples/tvb_nest/notebooks/cerebellum/working_files/
/examples/tvb_nest/notebooks/cerebellum/working_files/olivocerebellum_balanced_nest3.py
# CTWC package files
/examples/tvb_nest/notebooks/cerebellum/ctwc-model-master

# Basal ganglia DBS project related data files
/examples/data/basal_ganglia/only_local/
/examples/data/basal_ganglia/ANNarchyFittedModels.tar
/examples/data/basal_ganglia/basal_ganglia_conn_incl_cortex.zip

# HKB-NRP example notebook
/examples/notebooks/HKB-TVB-NRP.ipynb

# SBI logs
**/sbi-logs*

# Trash
/.Trash-1000/

# DS_Store
*DS_Store*
tvb-epilepsy
*coherence*.pickle